@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #1f2029;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.section {
  position: relative;
  width: 100%;
  display: block;
  padding: 70px 0;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  line-height: 30px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="checkbox"]:checked:hover + label:before,
[type="checkbox"]:not(:checked):hover + label:before,
[type="checkbox"]:checked:hover + label:after,
[type="checkbox"]:not(:checked):hover + label:after {
  opacity: 0.7;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  background-color: transparent;
  z-index: -1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: calc(100% - 8px);
  border-radius: 2px;
  height: 22px;
  background-color: #e74c3c;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: -1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  /* #Colors================================================== */
}

.checkbox-red:checked + label:before,
.checkbox-red:not(:checked) + label:before {
  border: 1px solid #e74c3c;
}

.checkbox-red:checked + label:after,
.checkbox-red:not(:checked) + label:after {
  background-color: #e74c3c;
}

.checkbox-purple:checked + label:before,
.checkbox-purple:not(:checked) + label:before {
  border: 1px solid #8e44ad;
}

.checkbox-purple:checked + label:after,
.checkbox-purple:not(:checked) + label:after {
  background-color: #8e44ad;
}

.checkbox-green:checked + label:before,
.checkbox-green:not(:checked) + label:before {
  border: 1px solid #2ecc71;
}

.checkbox-green:checked + label:after,
.checkbox-green:not(:checked) + label:after {
  background-color: #2ecc71;
}

.checkbox-blue:checked + label:before,
.checkbox-blue:not(:checked) + label:before {
  border: 1px solid #2980b9;
}

.checkbox-blue:checked + label:after,
.checkbox-blue:not(:checked) + label:after {
  background-color: #2980b9;
}

.checkbox-yellow:checked + label:before,
.checkbox-yellow:not(:checked) + label:before {
  border: 1px solid #f1c40f;
}

.checkbox-yellow:checked + label:after,
.checkbox-yellow:not(:checked) + label:after {
  background-color: #f1c40f;
}

.box {
  border-radius: 10px;
  -webkit-box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
          box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box.red {
  background-color: #e74c3c;
}

.box.purple {
  background-color: #8e44ad;
}

.box.green {
  background-color: #2ecc71;
}

.box.blue {
  background-color: #2980b9;
}

.box.yellow {
  background-color: #f1c40f;
}

.box.red,
.box.purple,
.box.green,
.box.blue,
.box.yellow {
  opacity: 0;
  min-height: 0;
  max-width: 0;
  min-width: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.checkbox-red:checked ~ .box.red,
.checkbox-purple:checked ~ .box.purple,
.checkbox-green:checked ~ .box.green,
.checkbox-blue:checked ~ .box.blue,
.checkbox-yellow:checked ~ .box.yellow {
  opacity: 1;
  min-height: 140px;
  max-width: 100%;
  min-width: calc(25% - 20px);
  padding: 0 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1199px) {
  .checkbox-red:checked ~ .box.red,
  .checkbox-purple:checked ~ .box.purple,
  .checkbox-green:checked ~ .box.green,
  .checkbox-blue:checked ~ .box.blue,
  .checkbox-yellow:checked ~ .box.yellow {
    min-width: calc(33.333333333333% - 20px);
  }
}

@media (max-width: 991px) {
  .checkbox-red:checked ~ .box.red,
  .checkbox-purple:checked ~ .box.purple,
  .checkbox-green:checked ~ .box.green,
  .checkbox-blue:checked ~ .box.blue,
  .checkbox-yellow:checked ~ .box.yellow {
    min-width: calc(50% - 20px);
  }
}

@media (max-width: 575px) {
  .checkbox-red:checked ~ .box.red,
  .checkbox-purple:checked ~ .box.purple,
  .checkbox-green:checked ~ .box.green,
  .checkbox-blue:checked ~ .box.blue,
  .checkbox-yellow:checked ~ .box.yellow {
    min-width: calc(100% - 20px);
  }
}
/*# sourceMappingURL=style.css.map */